* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #f5f6fa;
}

.container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 230px;
  background-color: #f0f2f5;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.sidebar h2 {
  margin-bottom: 20px;
  color: #2c3e50;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 10px 0;
  color: #444;
  cursor: pointer;
}

.sidebar li.active {
  font-weight: bold;
  color: #007b5e;
}

/* Main */
.main-content {
  width: 100%;
  padding: 2rem 3rem;
  overflow-y: auto;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

header h3 {
  font-size: 20px;
  color: #333;
}

#editBtn {
  background-color: #00b16a;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

#editBtn:hover {
  background-color: #009e5e;
}

/* Datastreams */
.datastreams h2 {
  margin-bottom: 15px;
}

#search {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

th {
  background-color: #f8f9fa;
  font-weight: 600;
}

td.color-box {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

